<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<link rel="stylesheet" href="assets/style/style.css" />
	<script src="{{bower}}/jquery/dist/jquery.min.js"></script>
	<script src="{{compiled}}/{{main}}"></script>
	<script>
		{{#if vm}}
			$.fn.autosuggest.defaults.source.dataType = 'jsonp';
			$.fn.autosuggest.defaults.source.crossDomain = true;
		{{/if}}
	</script>
</head>
<body>
