{{> top title="Basic, namespace changed"}}

	<form action="/" method="get">
		<input type="search" />
		<button type="submit">Search</button>
	</form>

	<script>
		$('input').autosuggest({
			source: 'http://{{url}}:3000/search',
			classes: $.fn.autosuggest.appendNamespacedClasses('Foobar')
		});
	</script>

{{> bottom}}
