{{> top title="Basic"}}

	<form action="/" method="get">
		<input type="search" />
		<button type="submit">Search</button>
	</form>

	<script>
		$('input').autosuggest({
			source: function ( query ) {
				return $.ajax({
					url: 'http://{{url}}:3000/search',
					data: {
						value: query
					}
				});
			}
		});
	</script>

{{> bottom}}
