{{> top title="Basic, namespace changed"}}

	<form action="/" method="get">
		<input type="search" />
		<button type="submit">Search</button>
	</form>

	<script>
		$('input').autosuggest({
			source: function ( query ) {
				return $.ajax({
					url: 'http://{{url}}:3000/search',
					data: {
						value: query
					}
				});
			},
			classes: {
				wrapper: $.fn.autosuggest.defaults.classes.wrapper + ' Foobar',
				input: $.fn.autosuggest.defaults.classes.input + ' Foobar-input'
			}
		});
	</script>

{{> bottom}}
