{{> top title="Map"}}

	<form action="/" method="get">
		<input type="search" />
		<button type="submit">Search</button>
	</form>

	<script>
		$('input').autosuggest({
			source: function ( query ) {

				var dfd = $.Deferred();

				$.ajax({
					url: 'http://{{url}}:3000/search',
					data: {
						value: query
					}
				})
					.done(function ( results ) {
						dfd.resolve($.map(results, function ( result ) {
							return {
								url: result.id,
								value: result.value
							};
						}))
					});

				return dfd;

			}
		});
	</script>

{{> bottom}}
