{{> top title="Max items"}}

	<form action="/" method="get">
		<input type="search" />
		<button type="submit">Search</button>
	</form>

	<script>
		$('input').autosuggest({
			source: 'http://{{url}}:3000/search',
			maxItems: 2
		});
	</script>

{{> bottom}}
