{{> top title="Response group"}}

	<form action="/" method="get">
		<input type="search" />
		<button type="submit">Search</button>
	</form>

	<script>
		$('input').autosuggest({
			source: function ( query ) {
				return $.ajax({
					url: 'http://{{url}}:3000/searchGroup',
					data: {
						value: query
					}
				});
			},
			responseType: 'group'
		});
	</script>

{{> bottom}}
