{{> top title="Select"}}

	<form action="/" method="get">
		<input type="search" />
		<button type="submit">Search</button>
	</form>

	<script>
		$('input').autosuggest({
			source: 'http://{{url}}:3000/search',
			select: function ( item, data ) {
				console.log(item);
				console.log(data);
			}
		});
	</script>

{{> bottom}}
