{{> top title="Template enginge"}}

	<script src="{{bower}}/mustache/mustache.js"></script>

	<form action="/" method="get">
		<input type="search" />
		<button type="submit">Search</button>
	</form>

	<script id="template" type="x-tmpl-mustache">
		<i><span style="color:green">{{value}}</span></i>
	</script>

	<script>

		(function () {

			var template = $('#template').html();

			Mustache.parse(template);

			$('input').autosuggest({
				source: function ( query ) {
					return $.ajax({
						url: 'http://{{url}}:3000/search',
						data: {
							value: query
						}
					});
				},
				selectors: {
					toggler: 'i',
					value: 'span'
				},
				templates: {
					item: function ( data ) {
						return Mustache.render(template, data);
					}
				}
			});

		})();

	</script>

{{> bottom}}
