{{> top title="Basic template"}}

	<form action="/" method="get">
		<input type="search" />
		<button type="submit">Search</button>
	</form>

	<script>
		$('input').autosuggest({
			source: function ( query ) {
				return $.ajax({
					url: 'http://{{url}}:3000/search',
					data: {
						value: query
					}
				});
			},
			selectors: {
				toggler: 'i',
				value: 'u'
			},
			templates: {
				item: function ( data ) {
					return '<strong><i>Item:</i> <u>' + data.value + '</u></strong>';
				}
			}
		});
	</script>

{{> bottom}}
